USE [Prueba]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 16/2/2026 23:17:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombreProducto] [varchar](100) NOT NULL,
	[descripcionProducto] [varchar](200) NOT NULL,
	[categoriaProducto] [varchar](50) NOT NULL,
	[precioProducto] [decimal](10, 2) NOT NULL,
	[cantidadProductos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [ck_producto_cantidad] CHECK  (([cantidadProductos]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [ck_producto_cantidad]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [ck_producto_precio] CHECK  (([precioProducto]>(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [ck_producto_precio]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProducto]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteProducto]
	@Id int
as
begin
	set nocount on;

    begin transaction;
    begin try

        if exists (
            select 1
            from dbo.producto
            where id = @id and cantidadProductos > 0
        )
            throw 50005, 'no se puede eliminar un producto con stock disponible.', 1;

        delete from dbo.producto
        where id = @id;

        commit transaction;

    end try
    begin catch
        if @@trancount > 0 rollback transaction;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetIdProducto]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetIdProducto]
	@Id int
as
begin
	set nocount on;

    begin transaction;
    begin try
		select * from Producto
		where Id = @Id;
		
		commit transaction;
	end try
    begin catch
        if @@trancount > 0 rollback transaction;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetProducto]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProducto]
as
begin
	set nocount on;

    begin transaction;
    begin try
		select * from Producto
		
		commit transaction;
	end try
	begin catch
		if @@trancount > 0 rollback transaction;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUsername]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserByUsername]
    @Username VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Username, PasswordHash, Role
    FROM dbo.Users
    WHERE Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertProducto]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertProducto]
	@nombreProducto varchar(20),
	@descripcionProducto varchar(20),
	@categoriaProducto varchar(20),
	@precioProducto int,
	@cantidadProductos int
as
begin
	SET NOCOUNT ON;
	begin transaction;
	begin try
			if (@precioproducto <= 0)
				throw 50003, 'el precio debe ser mayor a 0.', 1;

			if (@cantidadProductos < 0)
				throw 50002, 'el stock no puede ser negativo.', 1;



			insert into dbo.Producto 
			(nombreproducto, descripcionproducto, categoriaproducto, precioproducto, cantidadproductos)
			values
			(@nombreproducto, @descripcionproducto, @categoriaproducto, @precioproducto, @cantidadproductos);


			declare @newid int = convert(int, scope_identity());

			commit transaction;

			select @newid as id;
		
	end try
	begin catch
        if @@trancount > 0 rollback transaction;
        throw;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProducto]    Script Date: 16/2/2026 23:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateProducto]
	@Id int,
	@nombreProducto varchar(20),
	@descripcionProducto varchar(20),
	@categoriaProducto varchar(20),
	@precioProducto int,
	@cantidadProductos int
as
begin
	set nocount on;

    begin transaction;
    begin try
		
		if (@precioproducto <= 0)
            throw 50003, 'el precio debe ser mayor a 0.', 1;

        if (@cantidadProductos < 0)
            throw 50002, 'el stock no puede ser negativo.', 1;

        update dbo.Producto
        set nombreproducto = @nombreProducto,
            descripcionproducto = @descripcionProducto,
            categoriaproducto = @categoriaProducto,
            precioproducto = @precioProducto,
            cantidadProductos = @cantidadProductos
        where id = @id;

        commit transaction;

    end try
    begin catch
        if @@trancount > 0 rollback transaction;
        throw;
    end catch
end
GO
